<h1 class="page-header">Users</h1>

<div class="table-responsive">

  <form class="form-inline" role="form" ng-submit="save()">
    <div class="form-group">
      <input type="text" class="form-control input-sm" placeholder="Name" ng-model="selectedUser.name">
      <input type="text" class="form-control input-sm" placeholder="Last name" ng-model="selectedUser.last_name">
      <input type="text" class="form-control input-sm" placeholder="Role" ng-model="selectedUser.role">
      <input type="text" class="form-control input-sm" placeholder="Email" ng-model="selectedUser.email">
      <input type="text" class="form-control input-sm" placeholder="Password" ng-model="selectedUser.password">
    </div>
    <button type="submit" class="btn btn-default btn-sm">Save</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.role}}</td>
        <td>{{user.local.email}}</td>
        <td>
          <button type="button" class="btn btn-default btn-xs" title="Edit" ng-click="selectUser($index, user)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-xs" title="Delete" ng-click="delete($index, user)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>