<!doctype html>
<html>
  <head>
    <title>{{{title}}}</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.css" rel="stylesheet" />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-app='adminApp'>

    {{{body}}}

    <toaster-container></toaster-container>
    
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script src="//code.angularjs.org/1.2.9/angular.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-route.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-resource.js"></script>
    <script src="//code.angularjs.org/1.2.0/angular-animate.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/usersController.js"></script>
    <script src="/js/services/usersService.js"></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io();
    </script>
  <body>
</html>