<!doctype html>
<html>
  <head>
    <title>Some title</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    
    {{{body}}}

    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
  <body>
</html>