<!doctype html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    
    <h1>Aca va el login</h1>

  <body>
</html>